.maindiv{
    height: 250px;
    width: 450px;
    margin: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 2px 4px 8px;
    border-radius: 10px;
}
.diva{
    height: 250px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.divc{
    height: 250px;
    width: 10px;
    background-color:rgb(0, 255, 170);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.divb{
    height: 250px;
    width: 290px;
    background-color: bisque;
    border-radius: 10px;
}
.img{
    height: 105px;
    width: 105px;
    margin: 20px;
    border-radius: 60px;
    box-shadow: 0px 4px 8px;
}
.divd{
    background-color: rgb(255, 255, 255);
}
.divd:hover{
    color: blueviolet;
}
.h4{
    margin-left: 5px;
}
.h4:hover{
    margin-left: 5px;
    color: blueviolet;
}
.h3{
    color: aqua;
    margin-left: 5px;
}