.maindiv{
    height: 250px;
    width: 450px;
    margin: 100px;
    background-color: aquamarine;
    display: flex;
}
.diva{
    height: 250px;
    width: 150px;
    background-color: beige;
}
.divc{
    height: 250px;
    width: 10px;
    background-color:rgb(24, 255, 178);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.divb{
    height: 250px;
    width: 290px;
    background-color: bisque;
}