.maindiv{
    height: 250px;
    width: 450px;
    margin: 100px;
    background-color: aquamarine;
    display: flex;
}
.diva{
    height: 250px;
    width: 150px;
    background-color: beige;
}
.divb{
    height: 250px;
    width: 300px;
    margin-left: 10px;
    background-color: bisque;
}